:root {
	/* Font */
	--font-family: 'Work Sans';
	/* Config Colors */
	// --header-bg: 0, 130, 100;
	// --header-color: 255, 255, 255;
	// --footer-bg: 32, 32, 35;
	// --footer-color: 250, 250, 250;
	/* Colors */
	--primary-color: 45, 140, 200;
	--secondary-color: 29, 40, 100;
	--light-color: 245, 245, 240;
	--dark-color: 32, 32, 35;
	--gray-color: 200, 200, 200;
}
