<section class="home-services" id="services">
	<div class="container">
		<header class="section-header">Hizmetlerimiz</header>
		<p class="description">
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam dolores impedit, laborum vel
			iusto omnis sequi cum deserunt suscipit explicabo architecto nulla officia facere a temporibus
			consequatur ipsa ab animi laboriosam harum!
		</p>
		<ul class="services">
			<li class="service">
				<i class="fas fa-earth fa-3x"></i>
				<h3>Web Yazılım</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolorem ad quod
					excepturi.
				</p>
			</li>
			<li class="service">
				<i class="fas fa-id-card fa-3x"></i>
				<h3>Kurumsal Kimlik</h3>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ipsam doloribus,
					perferendis a temporibus quidem?
				</p>
			</li>
			<li class="service">
				<i class="fas fa-pencil-ruler fa-3x"></i>
				<h3>Logo Tasarım</h3>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat eaque eveniet eum error
					nulla!
				</p>
			</li>
		</ul>
	</div>
</section>
