<section class="home-contact">
	<div class="container">
		<header class="section-header dark">Size Ulaşalım</header>
		<form action="/home-contact" method="post" class="contact-us">
			<fieldset>
				<input type="text" placeholder="Adınız" name="full_name" />
			</fieldset>
			<fieldset>
				<input type="email" placeholder="E Posta" name="email" />
			</fieldset>
			<fieldset>
				<input type="text" placeholder="Konu" name="subject" />
			</fieldset>
			<button type="submit" class="btn-submit">
				Gönder
				<i class="fas fa-paper-plane"></i>
			</button>
		</form>
	</div>
</section>
