<section class="home-about">
	<div class="container">
		<h3>Hakkımızda</h3>
		<p>
			<img src="/public/images/home-about.jpeg" alt="double-logo" width="350" />
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, quidem
			<strong>molestiae perspiciatis vitae atque explicabo</strong> ipsum, culpa quia illum aliquam
			iusto soluta harum rerum nobis cupiditate ea quo quos, iste in.
			<strong>Double Corporate Theme</strong>, voluptas fugiat! Sit numquam eligendi iste
			repudiandae, porro inventore, quisquam autem ipsam architecto
			<strong>aspernatur officia reiciendis</strong>
			earum consectetur rem. Laborum eos corrupti amet odio adipisci, voluptas aliquam expedita
			optio dolores qui sit impedit assumenda quibusdam. Voluptates veniam,
			<strong>fugit cupiditate</strong>
			voluptate aspernatur impedit? Id nesciunt cupiditate minima similique totam ad odio provident
			sit dignissimos atque, a vero modi recusandae perferendis eveniet, repudiandae nihil ea,
			accusamus nisi nobis obcaecati voluptatum.
			<br />
			<br />
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt non nostrum iure animi
			quisquam quis praesentium repellendus. Similique non quasi fugiat possimus magnam mollitia est
			accusantium aut aspernatur corporis? Tempora odio quis rerum reprehenderit!
		</p>
	</div>
</section>
