<section class="home-referances">
	<div class="container">
		<header class="section-header">Referanslarımız</header>
		<ul class="referances">
			<li class="referance">
				<a href="#!">
					<img src="/public/images/referances/google.png" alt="Referans 1" />
				</a>
			</li>
			<li class="referance">
				<a href="#!">
					<img src="/public/images/referances/microsoft.png" alt="Referans 3" />
				</a>
			</li>
			<li class="referance">
				<a href="#!">
					<img src="/public/images/referances/paypal.png" alt="Referans 4" />
				</a>
			</li>
			<li class="referance">
				<a href="#!">
					<img src="/public/images/referances/ebay.png" alt="Referans 6" />
				</a>
			</li>
		</ul>
	</div>
</section>
