<section class="slider">
	<div id="homeCarousel" class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="/public/images/slider/1.jpeg" alt="Carousel 1" />
				<div class="content">
					<h3 class="slider-header">Uygun Fiyatlı Çözümler</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ad a tempore itaque nihil
						ipsum odit sunt neque. Doloribus velit rem tempora! Laudantium cum, illum a cumque
						suscipit et. Alias!
					</p>
				</div>
			</div>
			<div class="swiper-slide">
				<img src="/public/images/slider/2.jpeg" alt="Carousel 2" />
				<div class="content">
					<h3 class="slider-header">Kolay Yönetim Sistemleri</h3>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic amet qui accusamus commodi
						ratione libero repellat fugiat in quas quis?
					</p>
				</div>
			</div>
			<div class="swiper-slide">
				<img src="/public/images/slider/3.jpeg" alt="Carousel 3" />
				<div class="content">
					<h3 class="slider-header">Sürdürülebilir Teknolojiler</h3>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, veniam perspiciatis
						quod adipisci quidem mollitia beatae officiis molestiae dolorem doloribus iusto et,
						unde, iure neque!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
