<!-- Page Header -->
<%- include("../components/page_headers/_" + page) %>
<section class="search-product">
  <div class="container">
    <form action="<%= url('products') %>" method="get" class="search-box">
      <input type="text" name="s" placeholder="Ürün ara" disabled />
      <button type="submit" class="search-product" disabled>
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
</section>
<section class="products">
  <div class="container">
    <!-- <ul class="product-list">
      <li class="product-item">
        <a href="#" class="img">
          <img src="/public/images/products/iphone_11.jpeg" alt="iphone-11" />
        </a>
        <header class="product-header">
          <strong>Apple Iphone 11</strong>
          <span class="price">9.648₺</span>
        </header>
      </li>
    </ul> -->
    <h3
      style="
        text-align: center;
        margin: 1rem auto;
        color: rgb(var(--color-primary));
      "
    >
      Ürünlerimiz yakında eklenecektir..
    </h3>
  </div>
</section>
