<header class="page-header" style="background-image: url(/public/images/page_bgs/about.jpeg)">
	<div class="container">
		<strong>Hakkımızda</strong>
	</div>
</header>
<section class="about">
	<div class="container">
		<h3>Double Kimdir?</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias assumenda recusandae at rem
			deleniti repellendus beatae, corporis error officia itaque totam in dignissimos nisi explicabo
			earum quae aut voluptatem, ex laudantium provident. Cum, deleniti voluptatibus.
		</p>
		<h3>Vizyonumuz</h3>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius beatae quidem earum. In facere
			possimus est molestiae eveniet! Architecto amet quo sit laboriosam, mollitia enim!
		</p>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus autem repellat magnam
			nulla? Dicta ab sint delectus reiciendis nostrum nobis. Animi, reprehenderit exercitationem
			officiis fugiat vero vel corporis sequi excepturi debitis, ea voluptates doloremque quos saepe
			commodi tenetur, soluta aliquam.
		</p>
		<h3>Misyonumuz</h3>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat natus in praesentium corrupti
			libero maxime necessitatibus nobis dignissimos adipisci sunt. Culpa officia exercitationem
			laudantium dolor placeat. Earum laudantium corrupti commodi quam numquam consequatur fugiat
			nam id, voluptas nemo nisi, alias a nulla omnis consectetur delectus. Nostrum, beatae?
			Nesciunt, iusto placeat!
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, alias placeat quas ipsa ex
			cumque vero fugit omnis beatae odio quo, eius quam? Architecto quidem enim ipsam doloribus
			sit, et quos totam vitae ipsum. Magnam ad, hic recusandae quas rerum omnis similique tempore
			eum, architecto qui officiis odio nulla consequuntur. Veniam accusamus, aliquam sunt quos rem
			inventore, dolorem vel illum incidunt possimus, nulla aspernatur quod voluptatem error esse
			dolores corporis vero totam! Aspernatur, vero inventore!
		</p>
	</div>
</section>
