<header
  class="page-header"
  style="background-image: url(/public/images/page_bgs/referances.jpeg)"
>
  <div class="container">
    <strong><%= get_lang()["header"]["software_and_documents"][lang] %></strong>
  </div>
</header>
